body{
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  background-color: black;
}
#game-board{
  background-color: #CCC;
  width: 70vmin;
  height: 70vmin;
  margin-top: 10%;
  margin-left: 30%;
  display: grid;
  grid-template-rows: repeat(30, 2fr);
  grid-template-columns: repeat(30, 2fr);
}
.snake{
  background-color: hsl(200, 100%, 50%);
  border: .25px solid black;
}
.food{
  background-color: hsl(50, 100%, 50%);
  border: .25px solid black;
  border-radius: 50%;
}